/*.socialicons a{
    opacity:0.7;
    filter: grayscale(100%);
}
.socialicons a:hover{
    opacity:1;
    filter: grayscale(0);
}*/
.socialicons:before{
    content:'';
    display:block;
    padding:1rem;
    font-size:1rem;
    line-height:1rem;
}
.share-icon{
    display:inline-block;
    width:3rem;
    height:3rem;
    border-radius:50%;
    cursor:pointer;
    box-shadow: 0 0 0.35rem rgba(191, 218, 236,0.8);
    margin-right:1rem;
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: center;
}
.share-icon[data-type='Yandex']{
    background-color:#ff5555;
}
.share-icon[data-type='Vk']{
    background-color:#4680c2;
}
.share-icon[data-type='Facebook']{
    background-color:#1773ea;
}
.share-icon[data-type='Telegram']{
    background-color:#64a9dc;
    background-image: url("data:image/svg+xml,%3Csvg id='svg15' version='1.1' viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='path11' d='m65.461 440.84 497.69-214.38c237-98.577 286.25-115.7 318.34-116.26 7.0611-0.1246 22.846 1.6249 33.069 9.9217 8.6364 7.0047 11.009 16.471 12.147 23.11 1.1384 6.6395 2.5517 21.774 1.4269 33.597-12.844 134.94-68.416 462.42-96.687 613.55-11.965 63.954-35.502 85.397-58.322 87.494-49.559 4.5606-87.192-32.754-135.19-64.217l-190.45-127.93c-84.258-55.522-29.637-86.04 18.382-135.91 12.566-13.057 230.92-211.67 235.15-229.69 0.51205-2.253 1.019-10.65-3.97-15.088-4.989-4.4377-12.357-2.9016-17.671-1.7119-7.5321 1.7102-127.52 81.019-359.97 237.93-34.059 23.388-64.91 34.785-92.548 34.187-30.472-0.65884-89.085-17.229-132.66-31.393-53.445-17.372-95.923-26.558-92.222-56.062 1.9253-15.366 23.088-31.081 63.486-47.149z' fill='%23fff' fill-rule='evenodd' stroke-width='1.7068'/%3E%3C/svg%3E");
}
.share-icon[data-type='Twitter']{
    background-color:#00aced;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' class='r-jwli3a r-4qtqp9 r-yyyyoo r-16y2uox r-1q142lx r-8kz0gk r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1srniue'%3E%3Cg%3E%3Cpath fill='white' d='M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}